/*
  MESA Colors

  Quantam Orange          (ff9e15)
  Thermal Red             (ea4e46)
  Atomic Green            (bed62f)
  Wave Blue               (8195b1)
  Raw Umber               (715558)
  Sand                    (e7e0d7)
*/

/* page sections */

.admin-title {
  margin-top: 40px;
  text-align: center;
  font-family: sans-serif;
}

.admin-subtitle {
  padding-left: 64px;
  font-family: sans-serif;
}

/* admin page sections */

.admin-section {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 11fr;
  grid-template-areas:
    'menu list';
}

.non-admin-section {
  height: 100%;
  padding-left: 20px;
}

/* tables */

.admin-search-filter {
  padding-left: 26px;
}

.admin-table-list {
  grid-area: list;
  height: 100%;
  float: right;
  padding-right: 20px;
}

.admin-table-list-entries {
  max-height: 480px;
  overflow-y: scroll;
  margin-bottom: 20px;
}

/* menu sidebar */

.admin-menu-bar {
  grid-area: menu;
  float: left;
  height: 95.5%;
  margin: 10px;
}

.admin-menu-bar-item {
  width: 100%;
}

@media only screen and (max-width: 700px) {
  .admin-menu-bar {
    height: 90%;
    width: 90%;
    float: none;
  }

  .admin-menu-bar-item {
    width: 90%;
  }

  .admin-table-list {
    width: 100%;
    float: none;
  }
  .admin-section {
    grid-template-columns: 1fr;
    grid-template-rows: 5% auto;
    grid-template-areas:
      'menu'
      'list';
  }
}

/* DUMMY TESTING - Demonstrates the 2 different views */

.test-buttons{
  margin: 24px;
}
