/*
  MESA Colors

  Quantam Orange          (ff9e15)
  Thermal Red             (ea4e46)
  Atomic Green            (bed62f)
  Wave Blue               (8195b1)
  Raw Umber               (715558)
  Sand                    (e7e0d7)
*/

/* page sections */

.admin-title {
  margin-top: 40px;
  text-align: center;
  font-family: sans-serif;
}

/* tables */

.admin-table-container {
  margin-left: auto;
  margin-right: auto;
  width: 1140px;
  max-width: 90%;
}
