.mainDiv {
  width: 100%;
  height: calc(100vh - 72px);
  background-color: white;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 0% auto;
  grid-template-areas:
    'tab   tab '
    'image text'
    ;
}

img {
  object-fit:cover;
}

.image {
  grid-area: image;
  overflow: hidden;
  height: calc(100vh - 72px);
}

.text {
  grid-area: text;
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100vh - 72px);
}

.name {
  height: auto;
  width: auto;
  margin: 28px 23px 0px;
  font-size: 36px;
}

.contact {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50% 50%;
  grid-template-areas:
    'address'
    'url    '
    ;
}

.url {
  height: auto;
  width: auto;
  margin: 18px 18px 0px;
  grid-area: url;
  display: inline-flex;
  vertical-align: middle;
}

.url p {
  margin: 0px;
  margin-top: 2px;
}

.address {
  height: auto;
  width: auto;
  margin: 18px 18px 0px;
  grid-area: address;
  display: inline-flex;
  vertical-align: middle;
}

.address p {
  margin: 0px;
}

.description {
  height: auto;
  width: auto;
  margin: 18px 21px 0px;
}

.description p {
  margin-left: 21px;
}

.description div {
  margin-left: 21px;
  margin-bottom: 18px;
}

.description div video {
  margin-left: 0px;
  margin-top: 0px;
  width: 33vw !important;
  height: auto !important;
  background-size: cover;
  background-color: gray;
}

.employees {
  height: auto;
  width: auto;
  margin: 2%;
}

.employees p {
  margin-top: 2px;
  margin-bottom: 2px;
}

.employees h4 {
  margin-top: 2px;
  margin-bottom: 5px;
}

h3 {
  margin-left: 18px;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
}

img {
  padding: 0;
  display: block;
  margin: 0 auto;
  height: 92.4vh;
  width: 100%;
}

.topTab {
  grid-area: tab;
}

.tableRow:hover {
  cursor: pointer;
}
