.EditPrimaryDiv {
  width: 100%;
  height: auto;
}

.EditHeader {
  width: 100%;
  height: 16vh;
  margin-top: .5%;
  background-image: url("stemBackgroundImage.png");

}

@media (max-width: 450px) {
  .EditHeaderAvatar {
    margin-left: 40%;
    height: 200px;
  }
}

@media (min-width: 450px) {
  .EditHeaderAvatar {
    margin-left: 47%;
    height: 200px;
  }
}

.EditMainGrid {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 71vh;
  margin-top: 1%;
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: 5%;
  grid-template-areas: "personal" "media" "experience";
}

@media (max-width: 660px) {
  .EditPersonal {
    height: auto;
    margin-bottom: .75%;
  }
}

@media (min-width: 660px) {
  .EditPersonal {
    height: 35vh;
    margin-bottom: .75%;
  }
}

.edit-personal-left {
  height: auto;
  border-right: 2px solid lightblue;
}


@media (max-width: 660px) {
  .EditMedia {
    height: 35vh;
    margin-bottom: .75%;
  }
}

@media (min-width: 660px) {
  .EditMedia {
    height: auto;
    margin-bottom: .75%;
  }
}

.EditExperience {
  height: auto;
  margin-bottom: .75%;
}


.EditSectionGrid {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-areas: "left" "right";
  grid-column-gap: 2%;
  margin-right: 2%;
}

.EditSectionGrid > div:nth-child(even){
  /*height: 35vh;*/
  height: auto;

}

.EditSectionGrid > div:nth-child(odd){
  height: 35vh;
  border-right: 2px solid lightblue;
}

.EditGrid {
  margin-top: 1%;
  display: grid;
  grid-template-columns: 20% 80%;
}


.EditGrid > div:nth-child(odd){
  background: transparent;
  height: 35vh;
}

.EditGrid > div:nth-child(even){
  background: transparent;
}

@media (max-width: 660px) {
  .EditFieldsGrid {
    height: auto;
  }
}

@media (min-width: 660px) {
  .EditFieldsGrid {
    display: grid;
    height: 35vh;
    grid-template-columns: 1fr 1fr;
  }
}

.EditFieldsGrid > div {
  background: transparent;
}

.EditExperiencesFields{
  height: auto;
}

@media (max-width: 660px) {
  .EditMediaGrid {
    height: auto;
  }
}

@media (min-width: 660px) {
  .EditMediaGrid {
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.EditMediaGrid > div {
  background: transparent;
  height: auto;
}

@media (min-width: 660px) {
  .EditImageWrapper {
    height: 0;
    position: relative;
    border: solid 1px grey;
    margin: 5%;
    padding-bottom: 60%;
  }
}

@media (max-width: 660px) {
  .EditImageWrapper {
    height: 20vh;
    max-width: 250px;
    max-height: 210px;
    position: relative;
    border: solid 1px grey;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 10px;
  }
}

@media (min-width: 660px) {
  .EditImage {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
}

@media (max-width: 660px) {
  .EditImage {
    bottom: 0;
    max-height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
}

/*
@media (min-width: 660px) {
.EditImage {
width: 350px;
height: 31vh;
opacity: 0.5;
filter: alpha(opacity=50);
}
}

<<<<<<< HEAD
@media (max-width: 660px) {
.EditImage {
=======
.EditImageNoVideo {
>>>>>>> development
width: 350px;
height: 31vh;
opacity: 0.5;
filter: alpha(opacity=50);
}
}
 */

  .EditImageWithVideo {
    width: 350px;
    height: 31vh;
  }

  .EditAvatar {
    height: 150px;
    width: 150px;
    display: inline-block;
    margin-left: 15%;
    margin-top: 3%;
  }

  .EditChangeButton {
    height: auto;
    width: auto;
    display: inline-block;
    margin-left: 4%;
  }

  .EditAddVideo {
    height: 40px;
    width: 150px;
    display: inline-block;
    margin-left: 2%;
  }

  .EditGeneric {
    height: auto;
    width: auto;
  }

  @media (max-width: 660px) {
    .edit-save-button {
      margin: 2%;
    }
  }

  @media (min-width: 660px) {
    .edit-save-button {
      margin: .5%;
    }
  }
