.editPrimaryDiv {
    width: 100%;
    height: auto;
    overflow-y: scroll;
}

.editHeader {
    width: 100%;
    height: 16vh;
    margin-top: .5%;
    background-image: url("stemBackgroundImage.png");

}

.editHeaderAvatar {
    margin-left: 47%;
}


.editMainGrid {
    overflow: auto;
    margin-top: 1%;
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 5%;
    grid-template-areas: "personal" "media" "experience";
}

.editPersonal {
    height: auto;
    margin-bottom: .75%;
}

.editMedia {
    height: 35vh;
    margin-bottom: .75%;
}


.editExperience {
    height: auto;
    margin-bottom: .75%;
}


.editSectionGrid {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-column-gap: 2%;
    margin-right: 2%;
}

.editSectionGrid > div:nth-child(even){
    height: auto;

}

.editSectionGrid > div:nth-child(odd){
    min-height: 35vh;
    border-right: 2px solid lightblue;
}

.editGrid {
    margin-top: 1%;
    display: grid;
    grid-template-columns: 20% 80%;
}


.editGrid > div:nth-child(odd){
    background: transparent;
    height: 35vh;
}

.editGrid > div:nth-child(even){
    background: transparent;
}


.editFieldsGrid {
    display: grid;
    height: auto;
    grid-template-columns: 1fr 1fr;
}

.editFieldsGrid > div {
    background: transparent;
}

.editExperiencesFields{
    height: auto;
}


.editMediaGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.editMediaGrid > div {
    background: transparent;
    height: auto;
}


.editVideo {
    height:31vh;
    width: auto;
    display: inline-block;
    border: solid 1px grey;
    margin: 2%;
}


.editImage {
    width: 350px;
    height: 31vh;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.editAvatar {
    height: 150px;
    width: 150px;
    display: inline-block;
    margin-left: 15%;
    margin-top: 3%;
}

.editChangeButton {
    height: auto;
    width: auto;
    display: inline-block;
    margin-left: 4%;
}

.editAddVideo {
    height: 40px;
    width: 150px;
    display: inline-block;
    margin-left: 2%;
}

.editGeneric {
    height: auto;
    width: auto;
}
