/* MESA Colors
  Quantam Orange          (ff9e15)
  Thermal Red             (ea4e46)
  Atomic Green            (bed62f)
  Wave Blue               (8195b1)
  Raw Umber               (715558)
  Sand                    (e7e0d7)
*/

/* color variables */

:root {
  --quantum-orange: #ff9e15;
  --thermal-red: #ea4e46;
  --atomic-green: #bed62f;
  --wave-blue: #8195b1;
  --raw-umber: #715558;
  --sand: #e7e0d7;
}

/* search page */

@media (max-width: 620px) {
  .search-body {
    overflow-y: hidden;
  }
}

@media (min-width: 620px) {
  .search-body {
    height: calc(100vh - 56px);
    overflow: hidden;
  }
}

@media (max-width: 620px) {
  .search-header {
    padding-left: 0px;
    text-align: center;
    padding-bottom: 10px;
    font-family: sans-serif;
  }
}

@media (min-width: 620px) {
  .search-header {
    padding-left: 0px;
    text-align: center;
    padding-bottom: 16px;
    font-family: sans-serif;
  }
}

.search-title {
  padding-top: 28px;
  margin: 0;
}

.search-box {
  margin: 0 5%;
  max-height: 90vh;
}

.search-box-list {
  height: 79vh;
}

/* table of list of results */

@media (max-width: 600px) {
  .search-table-cell {
    padding-bottom: 15px;
    padding-left: 0px;
    min-height: 130px;
    display: grid;
    grid-template-columns: 1fr 3fr 4fr;
    grid-template-rows: 25% 25% auto;
    grid-template-areas:
      'name name '
      'icon about '
      'icon about '
      'icon contact';
  }
}

@media (min-width: 601px) {
  .search-table-cell {
    padding-bottom: 15px;
    min-height: 130px;
    display: grid;
    grid-template-columns: 1fr 3fr 4fr;
    grid-template-rows: 25% auto;
    grid-template-areas:
      'name name  name'
      'icon about contact'
      'icon about contact';
  }
}

.search-table-name {
  grid-area: name;
  min-height: 40px;
  width: 100%;
  border-bottom-style: solid;
  margin-bottom: 0px;
  padding-left: 5px;
}

@media (max-width: 600px) {
  .search-table-icon {
    grid-area: icon;
    margin-top: 10px;
    padding-top: 8px;
    border-right-style: solid;
  }
}

@media (min-width: 601px) {
  .search-table-icon {
    grid-area: icon;
    margin-top: 10px;
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 25px;
    border-right-style: solid;
  }
}

.search-table-avatar {
  padding-left: 12px;
}

.search-table-flatbutton {
  float: left;
}

.search-table-address {
  margin-top: 12px;
}

@media (max-width: 600px) {
  .search-table-about {
    grid-area: about;
    margin-top: 12px;
    padding-left: 10px;
    max-height: 140px;
  }
}

@media (min-width: 601px) {
  .search-table-about {
    grid-area: about;
    margin-top: 4px;
    padding-left: 5px;
    max-height: 140px;
  }
}

@media (max-width: 600px) {
  .search-table-contact{
    grid-area: contact;
    padding-left: 10px;
    margin: 0 auto;
  }
}

@media (min-width: 601px) {
  .search-table-contact{
    grid-area: contact;
    margin: 0 auto;
    padding-left: 40px;
    padding-top: 20px;
  }
}

@media (max-width: 600px) {
  .search-table-about p {
    margin: 0;
    width: 50vw;
    font-size: 14px;
    white-space: normal;
  }
}

@media (min-width: 601px) {
  .search-table-about p {
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    font-size: 14px;
    white-space: normal;
  }
}

.search-table-about li {
  list-style-type:none;
}

.search-table-contact p {
  text-align: center;
  list-style-type: none;
  font-size: 14px;
  white-space: normal;
}

.search-back-to-top {
  margin: 20px 0px 10px 0px;
  font-size: 16px;
  font-family: sans-serif;
}

.search-table-row-stripe:nth-child(even) {
  background-color: white;
}

.search-table-row-stripe:nth-child(odd) {
  background-color: var(--wave-blue);
}

.search-table-row-stripe:nth-child(even) .search-table-border {
  border-bottom-color: var(--wave-blue);
  border-right-color: var(--wave-blue);
}

.search-table-row-stripe:nth-child(odd) .search-table-border {
  border-bottom-color: white;
  border-right-color: white;
}

/*
@media only screen and (max-width: 700px) {
  .search-box {
    margin: 0 8px;
  }

  .search-table-cell {
    grid-template-rows: 25% 40% auto;
    grid-template-areas:
      'name name    name   '
      'icon about   about  '
      'icon contact contact';
  }

  .search-table-icon {
    padding-left: 0px;
    padding-right: 16px;
  }

  .search-table-contact {
    padding-left: 8px;
    margin-bottom: 4px;
  }

  .search-table-about {
    padding-left: 8px;
    margin-top: 4px;
    overflow-y: scroll;
  }

  .search-back-to-top {
    margin: 10px 0px 5px 0px;
    font-size: 14px;
  }

  .search-table-about ul {
    padding-left: 8px;
    padding-top: 4px;
  }

  .search-table-contact ul {
    padding-left: 8px;
    padding-top: 4px;
  }

  .search-table-about li {
    font-size: 10px;
  }

  .search-table-contact {
    font-size: 10px;
    margin-left: 8px;
  }
}
*/
