.about-main-div {
  width: 90%;
  height: calc(100vh - 56px - 2%);
  background-color: white;
  padding: 5%;
}

.about-header-one {
}

.about-text {
}

.about-github-icon {
  height: 16px;
  width: 16px;
}
