/* page sections */

h1 {
  margin-top: 40px;
  text-align: center;
  font-family: sans-serif;
}

h2 {
  padding-left: 64px;
  font-family: sans-serif;
}

.search-filter {
  padding-left: 22px;
}

.table-section {
  padding-left: 2%;
  padding-right: 2%;
  max-height: 720px;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 1fr 9fr;
  grid-template-areas:
    'menu list';
}

.table-list {
  grid-area: list;
  float: right;
  /* margin-left: -12%; // has weird spacing issues when menu bar is not rendered */
}

.menu-bar {
  grid-area: menu;
  float: left;
}
